
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*   Selve baggrunds farve & skrifttype (makes navbar responsive) */
body {
  font-family: Montserrat, sans-serif;
  background: #f0f7f8;
  width:auto;
  height:auto;
}

/*   Box around links */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px #cfd8dc;
  padding: 1rem 0;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  Fikser så der ikke er nogle style på linksne */
.nav-item {
  list-style: none;
}

/*   Navbar Links design */
.nav-item a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  font-size: 1rem;
  background: #6aeeb5;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*   Navbar Links hover effekt */
.nav-item a:hover {
  color: #fff;
}

/*  Fikser så der ikke er nogle style på Login knappen */
.nav-item-2 {
  list-style: none;
}

/*   Navbar Login knap design */
.nav-item-2 a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  font-size: 1rem;
  background: #F83292;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/*   Navbar Login hover effekt */
.nav-item-2 a:hover {
  color: #fff;
}

/*   Navbar right logo and left links */
.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
  
}